*{
    box-sizing: border-box;
}

body{
    background-color: gainsboro;
    font-family: sans-serif;
}

header{
    height: 400px;
    width: 850px;
    position: relative;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.header-bg{
    width: 850px;
    height: 350px;
    background-color: slateblue;
    
}    

.profile-photo{
    background-color: slateblue;
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 225px;
    left: 15px;
    background-size: contain;
    border: 1px solid black;
    border-radius: 1%;
}

nav{
    height: 50px;
    background-color: white;
}

.buttons{
    float: right;
    margin-right: 5px;
    position: relative;
    top: 80px;
}
.buttons button{
    height: 25px;
    float: left;
}
.like-button{
    margin-right: 5px;
}
.site_info{
    position: relative;
    left: 175px;
    top: 125px;
    color: white;
    font-family: sans-serif;
}

.site_info h1{
    font-size: 22px;
    margin-bottom: 0px;
}
.site_info h2{
    font-weight: lighter;
    font-size: 18px;
    margin-top: 5px;
}

nav button{
    float: right;
    position: relative;
    left: -225px;
    top: 15px;
    font-size: 18px;
    margin-right: 10px;
    border: none;
    background-color: white;
}

.menu button{
    border-left: 1px solid lightgray;
    padding-left: 15px;
}

.column-align{
    margin-right: auto;
    margin-left: auto;
    width: 850px;
}

.column-1{
    height: fit-content; 
    width: 328px;
    border: 1px solid grey;
    position: relative;
    top: 35px;
    background-color: white;
    padding-left: 15px;
    padding-right: 10px;
    float: left;
}

.column-2{
    font-size: 12px;
    height: fit-content;
    width: 512px;
    border: 1px solid green;
    position: relative;
    top: 35px;
    float: right;
    background-color: white;
}

.gap{
    height: 30px;
}

.gap2{
    height: 10px;
    border-bottom: 1px solid lightgray;
}

.about-page{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.about-page h2{
    font-size: 18px;
}



.about-page p{
    color: blue;
    font-size: 12px;
}
.column-1 a, h3 {
    text-decoration: none;
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 10px 0px;
    font-size: 12px;
}

.column-2 p{
    position: relative;
    left: 15px;
}
.profile-pic{
    float: left;
    height: 50px;
    width: 50px;
    position: relative;
    top: 10px;
    left: 10px;
    background-color: slateblue;
}
.picture{
    height: 150px;
    width: 100%;
    background-color: slateblue;
}
.column-2 ul li{
    float: left;
    margin-left: 15px;
    margin-right: 5px;
    font-weight: lighter;
    color: steelblue;
    margin-bottom: 5px;
}

.column-2 ul li:first-child{
    list-style: none;
}